@charset "UTF-8";
/* Mixins are going next */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=MonteCarlo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");
* {
  padding: 0;
  margin: 0; }

  ::-webkit-scrollbar {
    width: 0px;
}

:root {
  --primary-color: #f3a153;
  --secondary-color: #f7fff7;
  --font-color: #424242;
  --bg-color: linear-gradient(#f3a153, #e8a15e);
  --heading-color: #292922;
  --container-shadow: 30px 30px 60px #cf8947, -30px -30px 60px #ffb95f; }

[data-theme="dark"] {
  --primary-color: #646469;
  --secondary-color: #a1a2a5;
  --font-color: #fbfbfd;
  --bg-color: #303038;
  --heading-color: #818cab;
  --container-shadow: 30px 30px 60px #292930,
  -30px -30px 60px #373740; }

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--bg-color);
  font-family: "Caveat", cursive; }

#add {
  display: flex;
  justify-content: center;
  color: #f7fff7; }

button:hover {
  cursor: pointer;
  background: var(--bg-color);
  box-shadow: var(--container-shadow); }

button:focus {
  cursor: pointer;
  background: #f3a153;
  box-shadow: var(--container-shadow); }

ul {
  list-style-type: none; }

.container {
  position: relative;
  min-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--container-shadow); }

h1 {
  color: #f7fff7;
  font-size: 4rem;
  font-family: "Caveat", cursive; }

.do-form {
  margin: 40px 0px;
  display: flex;
  justify-content: center; }

::placeholder {
  color: var(--font-color);
  opacity: 1; }

.do-input {
  color: var(--font-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  width: 300px;
  border: none;
  outline: none;
  margin-right: 15px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  box-shadow: var(--container-shadow);
  font-family: "Arimo", sans-serif;
  font-weight: 700; }

.add-button {
  color: #f7fff7;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  background: var(--primary-color);
  box-shadow: var(--container-shadow);
  font-family: "Arimo", sans-serif; }

.do-items {
  min-width: 380px;
  box-shadow: var(--container-shadow); }

.item {
  background-color: var(--secondary-color);
  padding: 10px;
  font-size: 1.5rem; }

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; }

.delete-button {
  float: right;
  background-color: transparent;
  color: red;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550; }

.end-container {
  width: 380px; }

.delete-all-button {
  display: flex;
  float: right;
  margin-left: 95px;
  color: #f7fff7;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  background: var(--primary-color);
  box-shadow: var(--container-shadow);
  font-family: "Arimo", sans-serif; }

.delete-done-button {
  display: flex;
  float: right;
  margin-left: 20px;
  color: #f7fff7;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  background: var(--primary-color);
  box-shadow: var(--container-shadow);
  font-family: "Arimo", sans-serif; }

.delete-button:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: none; }

.delete-button:focus {
  border-radius: 5px;
  background: #f7fff7;
  box-shadow: 5px 5px 11px #cfcfcf, -5px -5px 11px #ffffff; }

input[type='checkbox'] {
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 0.8rem;
  line-height: 5px;
  border-radius: 5px;
  background: #c5bfbf; }

input[type='checkbox']:checked:after {
  content: '✔';
  color: green;
  cursor: pointer;
  border-radius: 2px;
  background: var(--secondary-color); }

.checkbox:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  cursor: pointer; }

.taskInput {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
  outline: none;
  width: 80%;
  font-size: 1.1rem;
  font-family: "Caveat", cursive; }

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px; }
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
    color: #f7fff7; }

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px; }

.theme-switch input {
  display: none; }

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px; }

input:checked + .slider {
  background-color: #f3a153; }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
