@import "./base/core";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: $gradient;
  font-family: $primaryFont;
}

#add {
  display: flex;
  justify-content: center;
  color: $white;
}

button:hover {
  cursor: pointer;
  background: $gradient;
  box-shadow:  $hover_shadow;
}

button:focus {
  cursor: pointer;
  background: $orange;
box-shadow: $focus_shadow;
}

ul {
  list-style-type: none; 
}

.container {
  position: relative;
  min-width: 700px;
  margin-top: $ml;
  margin-bottom: $ml;
  border-radius: $xs;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $s;
  box-shadow: $container_shadow;
}

h1 {
  color: $white;
  font-size: $l_font;
  font-family: $primaryFont;
}

.do-form {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}

.do-input {
  cursor: pointer;
  width: 300px;
  border: none;
  outline: none;
  margin-right: $xs;
  border-radius: $ts;
  padding: $es;
  font-size: $m_font;
  box-shadow:  $container_shadow;
  font-family: $secondaryFont;
  font-weight: 700;
}

.add-button {
  color: $white;
  border: none;
  outline: none;
  border-radius: $ts;
  padding: $ts;
  font-size: $m_font;
  background: $orange;
  box-shadow:  $container_shadow;
  font-family: $secondaryFont;
}

.do-items {
  min-width: 380px;
  box-shadow:  $item_shadow;
}

.item {
  background-color: $white;
  padding: $es;
  font-size: $ml_font;
}

.item:first-child {
  border-top-left-radius: $border_size;
  border-top-right-radius: $border_size;
}

.item:last-child {
  border-bottom-left-radius: $border_size;
  border-bottom-right-radius: $border_size;
}

.delete-button {
  float: right;
  background-color:transparent;
  color: $red;
  border: none;
  outline: none;
  border-radius: $border_size;
  padding: 2px 5px;
  margin-left: $es;
  font-size: $m_font;
  font-weight: 550;
}

.end-container {
  width: 380px;
}

.delete-all-button {
  display: flex;
  float: right;
  margin-top: $ms;
  margin-left: $ms;
  color: $white;
  border: none;
  outline: none;
  border-radius: $ts;
  padding: $ts;
  font-size: $m_font;
  background: $orange;
  box-shadow: $container_shadow;
  font-family: $secondaryFont
}

.delete-done-button {
  display: flex;
  float: right;
  margin-top: $ms;
  margin-left: $xs;
  color: $white;
  border: none;
  outline: none;
  border-radius: $ts;
  padding: $ts;
  font-size: $m_font;
  background: $orange;
  box-shadow: $container_shadow;
  font-family: $secondaryFont;
  
}

.delete-button:hover {
border-radius: $ts;
background: $white_hover_background;
box-shadow: $white_hover;
}

.delete-button:focus {
  border-radius: $ts;
  background: $white;
  box-shadow: $white_hover;
  }

.checked { 
  text-decoration: line-through;
}

input[type='checkbox']{
  cursor: pointer;
  width: $s !important;
  height: $s !important;
  padding: $ts;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: $s_font;
  line-height: $ts;
  border-radius: $ts;
background: $white;

}

input[type='checkbox']:checked:after {
  content: '✔';
  color: $green;
  cursor: pointer;
}



.checkbox:hover{
  border-radius: $ts;
background: $white_hover_background;
box-shadow:  $white_hover;
cursor: pointer;
}

#taskInput{
  border: none;
  outline: none;
  width: 80%;
  font-size: $m_font;
  font-family: $primaryFont;
}



