@import "./base/core";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f3a153;
  --secondary-color: #f7fff7;
  --font-color: #424242;
  --bg-color: linear-gradient(#f3a153, #e8a15e);
  --heading-color: #292922;
  --container-shadow: 30px 30px 60px #cf8947, -30px -30px 60px #ffb95f;
}

[data-theme="dark"] {
  --primary-color: #646469;
  --secondary-color: #a1a2a5;
  --font-color: #fbfbfd;
  --bg-color: #303038;
  --heading-color: #818cab;
  --container-shadow: 30px 30px 60px #292930,
  -30px -30px 60px #373740;
}

// body {
// font-family: "Lato", sans-serif;
// background-color: var(--bg-color);
// color: var(--font-color);
// max-width: 90%;
// margin: 0 auto;
// font-size: calc(1rem + 0.25vh);
// }


body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--bg-color);
  font-family: $primaryFont;
}


#add {
  display: flex;
  justify-content: center;
  color: $white;
}

button:hover {
  cursor: pointer;
  background: var(--bg-color);
  box-shadow:  var(--container-shadow);
}

button:focus {
  cursor: pointer;
  background: $orange;
box-shadow: var(--container-shadow);
}

ul {
  list-style-type: none; 
}

.container {
  position: relative;
  min-width: 700px;
  margin-top: $ml;
  margin-bottom: $ml;
  border-radius: $xs;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $s;
  box-shadow: var(--container-shadow);
}

h1 {
  color: $white;
  font-size: $l_font;
  font-family: $primaryFont;
}

.do-form {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}

::placeholder { 
  color: var(--font-color);
  opacity: 1; 
}

.do-input {
  color: var(--font-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  width: 300px;
  border: none;
  outline: none;
  margin-right: $xs;
  border-radius: $ts;
  padding: $es;
  font-size: $m_font;
  box-shadow:  var(--container-shadow);
  font-family: $secondaryFont;
  font-weight: 700;
}


.add-button {
  color: $white;
  border: none;
  outline: none;
  border-radius: $ts;
  padding: $ts;
  font-size: $m_font;
  background: var(--primary-color);
  box-shadow:  var(--container-shadow);
  font-family: $secondaryFont;
}

.do-items {
  min-width: 380px;
  box-shadow:  var(--container-shadow);
}

.item {
  background-color: var(--secondary-color);
  padding: $es;
  font-size: $ml_font;
}

.item:first-child {
  border-top-left-radius: $border_size;
  border-top-right-radius: $border_size;
}

.item:last-child {
  border-bottom-left-radius: $border_size;
  border-bottom-right-radius: $border_size;
}

.delete-button {
  float: right;
  background-color:transparent;
  color: $red;
  border: none;
  outline: none;
  border-radius: $border_size;
  padding: 2px 5px;
  margin-left: $es;
  font-size: $m_font;
  font-weight: 550;
}

.end-container {
  width: 380px;
}

.delete-all-button {
  display: flex;
  float: right;
  // margin-top: $ms;
  margin-left: 95px;
  color: $white;
  border: none;
  outline: none;
  border-radius: $ts;
  padding: $ts;
  font-size: $m_font;
  background: var(--primary-color);
  box-shadow: var(--container-shadow);
  font-family: $secondaryFont
}

.delete-done-button {
  display: flex;
  float: right;
  // margin-top: $ms;
  margin-left: 20px;
  color: $white;
  border: none;
  outline: none;
  border-radius: $ts;
  padding: $ts;
  font-size: $m_font;
  background: var(--primary-color);
  box-shadow: var(--container-shadow);
  font-family: $secondaryFont;
  
}

.delete-button:hover {
border-radius: $ts;
background: $white_hover_background;
box-shadow: none;
}

.delete-button:focus {
  border-radius: $ts;
  background: $white;
  box-shadow: $white_hover;
  }

input[type='checkbox']{
  cursor: pointer;
  width: $s !important;
  height: $s !important;
  padding: $ts;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: $s_font;
  line-height: $ts;
  border-radius: $ts;
background: rgb(197, 191, 191);

}


input[type='checkbox']:checked:after {
  content: '✔';
  color: $green;
  cursor: pointer;
  border-radius: 2px;
  background: var(--secondary-color);
}



.checkbox:hover{
  border-radius: $ts;
background: $white_hover_background;
cursor: pointer;
}

.taskInput{
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
  outline: none;
  width: 80%;
  font-size: $m_font;
  font-family: $primaryFont;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: $ms;
  // margin-left: 550px;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
    color: $white;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: $orange;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




