$ts: 5px;
$es: 10px;
$xs: 15px;
$s: 20px;
$m: 25px;
$ms: 30px;
$mm: 40px;
$ml: 50px;
$l: 250px;
$xl: 400px;
$xxl: 500px;
$border_size: 7px;

$s_font: 0.8rem;
$sm_font: 1rem;
$m_font: 1.1rem;
$ml_font: 1.5rem;
$l_font: 4rem;