$header_height: 56px;
$sidebar_padding: 20px;
$padding_header: 10px;
$margin_icons: 60px;
$margin_header: 30px;
$border_radius: 5px;
$white_hover_background: linear-gradient(145deg, #e6e6e6, #ffffff);
$white_hover:5px 5px 11px #cfcfcf, -5px -5px 11px #ffffff;
$hover_shadow: 20px 20px 40px #cf8947, -20px -20px 40px #ffb95f;
$focus_shadow:inset 20px 20px 40px #cf8947, inset -20px -20px 40px #ffb95f;
$container_shadow: 30px 30px 60px #cf8947, -30px -30px 60px #ffb95f;
$item_shadow: 13px 13px 26px #cf8947, -13px -13px 26px #ffb95f;